.add_diet button{
    margin: auto;
    background: none;
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
    margin-left: 44%;
}
.add_diet button:hover{
    background-color: rgb(86, 148, 24);
    color: white;
}
.add_diet h1, h2{
    text-align: center;
}
.add_diet p{
    text-align: center;
}
.block_flex{
    justify-content: center;
    display: flex;
    flex-direction: row;
}